<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.px.sys.modular.peopleOpinion.mapper.PeopleOpinionMapper">
    <resultMap type="cn.px.sys.modular.peopleOpinion.entity.PeopleOpinionEntity" id="PeopleOpinionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="enable" column="enable" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="enterpriseName" column="enterprise_name" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="messageContent" column="message_content" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="solution" column="solution" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="selectPeopleOpinionVo">
        select id,
               enable,
               create_by,
               create_time as "createTime",
               update_by,
               update_time,
               remark,
               sort,
               name,
               phone,
               enterprise_name as "enterpriseName",
               title,
               message_content as "messageContent",
               user_id as "userId",
               type,
               status,
               solution
        from people_opinion
    </sql>

    <select id="selectIdPage" resultType="java.lang.Long">
        SELECT id FROM people_opinion
        <where>
            enable = 1
            <if test="cm.id != null">
                and id = #{cm.id}
            </if>
            <if test="cm.enable != null">
                and enable = #{cm.enable}
            </if>
            <if test="cm.createBy != null">
                and create_by = #{cm.createBy}
            </if>
            <if test="cm.createTime != null">
                and create_time = #{cm.createTime}
            </if>
            <if test="cm.updateBy != null">
                and update_by = #{cm.updateBy}
            </if>
            <if test="cm.updateTime != null">
                and update_time = #{cm.updateTime}
            </if>
            <if test="cm.remark != null">
                and remark = #{cm.remark}
            </if>
            <if test="cm.sort != null">
                and sort = #{cm.sort}
            </if>
            <if test="cm.name != null and cm.name != ''">
                and name = #{cm.name}
            </if>
            <if test="cm.phone != null and cm.phone != ''">
                and phone = #{cm.phone}
            </if>
            <if test="cm.enterpriseName != null and cm.enterpriseName != ''">
                and enterprise_name = #{cm.enterpriseName}
            </if>
            <if test="cm.title != null and cm.title != ''">
                and title = #{cm.title}
            </if>
            <if test="cm.messageContent != null and cm.messageContent != ''">
                and message_content = #{cm.messageContent}
            </if>
            <if test="cm.userId != null">
                and user_id = #{cm.userId}
            </if>
            <if test="cm.type != null">
                and type = #{cm.type}
            </if>
            <if test="cm.status != null">
                and status = #{cm.status}
            </if>
        </where>
        ORDER BY  create_time DESC
    </select>

    <select id="selectPeopleOpinionVo" resultType="map">
        select id,
        enable,
        create_by,
        DATE_FORMAT(create_time,'%Y/%m/%d') as "createTime",
        update_by,
        update_time,
        remark,
        sort,
        name,
        phone,
        enterprise_name as "enterpriseName",
        title,
        message_content as "messageContent",
        user_id as "userId",
        type,
        status,
        solution
        from people_opinion
        <where>
            enable = 1
            <if test="type != null">
                and type= #{type}
            </if>
            <if test="status!= null">
              and status = #{status}
            </if>
            <if test="startTime != null and endTime != null">
                and create_time BETWEEN #{startTime} and #{endTime}
            </if>
        </where>
        ORDER BY create_time
    </select>

    <select id="getCountByall" resultType="int">
        select count(1) from people_opinion where enable = 1
    </select>

    <select id="getByStatus" resultType="map">
        <include refid="selectPeopleOpinionVo"/>
        where enable=1 and status = 2
    </select>
</mapper>

